<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %>, <%= name %></p>
        <p>About Me:</p>
        <ul>
            <li>Name: Your Name</li>
            <li>Age: Your Age</li>
            <li>Location: Your Location</li>
            <li>Occupation: Your Occupation</li>
        </ul>
        <a href="../">Homepage</a>
    </body>
</html>
