<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Formular</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-5">
                <h1 class="text-center mt-5">Personenformular</h1>
                 <!--  this action will forward the data with method post  -->
                <form action="/neuePerson" method="POST" class="mt-4 p-4 border rounded shadow-sm bg-light">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>

                    <div class="form-group">
                        <label for="vorname">Vorname:</label>
                        <input type="text" class="form-control" id="vorname" name="vorname" required>
                    </div>

                    <div class="form-group">
                        <label for="wohnort">Wohnort:</label>
                        <input type="text" class="form-control" id="wohnort" name="wohnort" required>
                    </div>

                    <div class="form-group">
                        <label for="postleitzahl">Postleitzahl:</label>
                        <input type="text" class="form-control" id="postleitzahl" name="postleitzahl" required>
                    </div>

                    <div class="form-group">
                        <label for="strasse">Strasse:</label>
                        <input type="text" class="form-control" id="strasse" name="strasse" required>
                    </div>

                    <div class="form-group">
                        <label for="hausnummer">Hausnummer:</label>
                        <input type="text" class="form-control" id="hausnummer" name="hausnummer" required>
                    </div>

                    <div class="form-group">
                        <label for="email">E-Mail Adresse:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="geburtstag">Geburtstag:</label>
                        <input type="date" class="form-control" id="geburtstag" name="geburtstag" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mt-2">Absenden</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'));
    </script>
</body>
</html>
